.App {
  background-color: rgb(37, 37, 37);
  color: white;
}

.App-container {
  display: flex;
  flex-flow: row wrap;
  margin: 3vh;
}

.Code-area {
  background-color: rgb(30, 30, 30);
  color: white;
  width: 80%;
  height: 65vh;
  border: none;
  resize: none;
  font-size: 14px;
}

.Debug-area {
  background-color: rgb(30, 30, 30);
  color: white;
  width: 80%;
  height: 20vh;
  border: none;
  resize: none;
  font-size: 14px;
}

.Setup-menu {

  width: 20vw;
}

.Player-data {
  background-color: rgb(30, 30, 30);
  padding: 3vh;
  width: 15vw;
  height: 60vh;
  margin-left: auto;
  text-align: left;
}

.Player-list {
  list-style: none;
}

.Game-container {
  align-items: left;
  justify-content: left;
  width: 46vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Input-field {
  margin-top: 1vh;
  width: fit-content;
}
