.App {
  background-color: rgb(37, 37, 37);
  color: white;
}

.App-container {
  display: flex;
  flex-flow: row wrap;
  margin: 3vh;
}

.Code-area {
  background-color: rgb(30, 30, 30);
  color: white;
  width: 80%;
  height: 70vh;
  border: none;
  resize: none;
  font-size: 14px;
}

.Setup-menu {
  width: 20vw;
}

.Player-data {
  width: 15vw;
  margin-left: auto;
  text-align: right;
}

.Player-list {
  list-style: none;
}

.Game-container {
  align-items: center;
  justify-content: center;
  width: 46vw;
  height: 100%;
}

.Input-field {
  margin-top: 1vh;
}
