.App {
  background-color: rgb(37, 37, 37);
  color: white;
}

.App-container {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-flow: row wrap;
  margin: 3vh;
}

.Code-area {
  background-color: rgb(30, 30, 30);
  color: white;
  width: 90%;
  height: 65vh;
  border: none;
  resize: none;
  font-size: 14px;
  border: 2px solid gray;
  border-radius: 5px;
}

.Debug-area {
  background-color: rgb(30, 30, 30);
  color: white;
  width: 90%;
  height: 20vh;
  border: none;
  resize: none;
  font-size: 14px;
  border: 2px solid gray;
  border-radius: 5px;
}

.Question-area {
  background-color: rgb(30, 30, 30);
  color: white;
  width: 100%;
  height: 10vh;
  border: none;
  resize: none;
  font-size: 14px;
  padding: 1vh;
  border: 2px solid gray;
  border-radius: 5px;
}

.Answer-tile {
  background-color: rgb(30, 30, 30);
  justify-content: center;
  align-items: center;
  color: white;
  width: 80%;
  height: 6vh;
  border: none;
  resize: none;
  font-size: 14px;
  margin-top: 2vh;
  border: 2px solid gray;
  border-radius: 5px;
}

.Answer-tile:hover {
  background-color: gray;
}

.Setup-menu {
  width: 20vw;
}

.Player-data {
  background-color: rgb(30, 30, 30);
  padding: 3vh;
  width: 15vw;
  height: 60vh;
  margin-left: auto;
  text-align: left;
  border: 2px solid gray;
  border-radius: 5px;
}

.Player-list {
  list-style: none;
}

.Error {
  color: red;
}

.Code-container {
  align-items: left;
  justify-content: left;
  width: 46vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Input-field {
  margin-top: 1vh;
  width: fit-content;
}
